# Môi trường ảo
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
# build/
# dist/
*.egg-info/
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# File cấu hình nhạy cảm
.env
*.ini
config.py
secrets.py

# Log files
*.log
logs/

# Database
*.db
*.sqlite3

# Test
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/